
<h1>Footer</h1>
<footer>
<ul>
    <li><a href="{{ path('accueil') }}">Accueil</a></li>
    <li><a href="{{ path('mentions')}}">Mentions légales</a> </li>
    <li><a href="{{ path('articles')}}">Articles</a> </li>
    <li>A propos de moi</li>
    <li>Important</li>
</ul>

</footer>