<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
        {{ render(controller('App\\Controller\\MainController::nav')) }}
		{% block body %}{% endblock %}
		{% include "main/footer.html.twig" %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
